configuration {
    show-icons: true;
    font: "Red Hat Display Bold 12";
    modi: "drun";
    display-drun: "Apps:";
    terminal: "kitty";
    case-sensitive: false;
}
@theme "~/.config/rofi/themes/sane.rasi"
